.offer_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.offer_title h2 {
    padding: 0 280px;
}

.buttons_offer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.btn_offer {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    background: var(--background-container, #E1D4C9);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.btn_offer img {
    border-radius: 100px;
    background: var(--background-container, #C1B6AD);
    padding: 6px;
}

.btn_offer:first-child {
    background: var(--background-container, #665F55);
    color: var(--text-light, #E1D4C9);
}

.btn_offer:first-child img {
    background: var(--background-body, #E1D4C9);
}

.list_coffee {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    padding-bottom: 100px;
    
}

.item_coffee {
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 1px solid var(--border-light, #C1B6AD);
}

.coffee_img {
    overflow: hidden;
    border-radius: 40px;
}

.coffee_img img:hover {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

/* .item_coffee:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
} */

.coffee_img img {
    border-radius: 40px;
}

.text_coffee {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    flex-grow: 1;
}

.title_coffee {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 10px;
}

.title_coffee h3:hover {
    border-bottom: 1px solid #665F55;
    transition: 0.2s;
    cursor: pointer;
}






/*
.text_coffee p {
    max-width: 270px;
}

.text_coffee h3:first-child {
    margin-bottom: 12px;
}

.prise_coffee {
    display: flex;
    flex-direction: column;
}
*/