html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-body, #E1D4C9);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    max-width: 1440px;
    margin: auto;
    padding: 20px 40px;
    color: var(--text-dark, #403F3D);
    
}

h1 {
    font-size: 72px;
    line-height: 75.6px;
    color: var(--text-light, #E1D4C9);
}

.enjoy p {
    color: var(--text-light, #E1D4C9);
}

h2 {
    font-size: 60px;
    line-height: 75px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

em {
    color: var(--text-accent, #B0907A);
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    transition: 0.5s;
}

button:hover {
    background-color: #665F55;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.menu_link {
    display: flex;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
}

.nav_item:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.enjoy {
    background: url(img/back-img), lightgray 50% / cover no-repeat;
    border-radius: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    margin-bottom: 100px;
}

.enjoy_content {
    display: grid;
    gap: 40px;
    justify-items: start;
}

.btn_enjoy {
    background: var(--background-body, #E1D4C9);
    padding: 20px 78px;
    border-radius: 100px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.btn_enjoy:hover {
    background-color: #B0907A;
}

.favourites_coffee h2 {
    text-align: center;
    padding-bottom: 35px
}

.favourites_coffee p {
    max-width: 480px;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.btn_circle {
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
    padding: 18px;
    background: var(--background-body, #E1D4C9);
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding-bottom: 35px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-light, #C1B6AD);
}

.dot:first-child {
    background: var(--border-dark, #665F55);
}

.about {
    margin: 100px 0;
}

.about h2 {
    padding-bottom: 40px;
}

.about_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.column_1,
.column_2 {
    display: grid;
    gap: 40px;
}

.mobile_app {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.mobile_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn_mobile {
    display: flex;
    gap: 20px;
}

.btn_app {
    width: 200px;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    gap: 7px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
}

.paragraf_app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-dark, #403F3D);
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

.btn_text {
    font-size: 16px;
    line-height: 24px;
}

.footer {
    display: flex;
    border-radius: 40px;
    background: var(--background-container, #665F55);
    padding: 100px;
    align-items: center;
    gap: 50px;
}

.footer_title {
    width: 50%;
}

.footer h2 {
    color: var(--text-light, #B0907A);
    padding-bottom: 40px;
}

.footer h2 span {
    color: var(--text-accent, #E1D4C9);
}

.btn_footer {
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    background-color: var(--text-light, #665F55);
    padding: 16px;
    margin-right: 11px;
}

.contact {
    display: flex;
    flex-direction: column;
    color: var(--text-light, #E1D4C9);
    gap: 40px;
}

.list_contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item_contact a{
    display: flex;
    color: var(--text-light, #E1D4C9);
    gap: 8px;
    line-height: 24px;
}